* {
  box-sizing: border-box;
  color: #333;
}

body {
  background-color: #81a69b;
  background-image: url(http://pets-images.dev-apis.com/pets/wallpaperB.jpg);
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
h1{
  text-align: center;
}

.search-params {
  width: 1100px;
  margin: 0 auto;
}

.search-params form {
  border-radius: 6px;
  background: #faeff0;
  box-shadow: 0px 0px 12px #aaa, -0px -0px 12px #fff;
  width: 360px;
  margin: 0px 25px 0px 0px;
  padding: 35px 15px 15px 15px;
  float: left;
}

.search-params label {
  display: block;
  width: 60px;
}

.search-params input,
.search-params select {
  margin-bottom: 30px;
  font-size: 18px;
  height: 30px;
  width: 325px;
}

.search-params button,
.details button {
  background-color: #ad343e;
  padding: 5px 25px;
  color: white;
  font-size: 18px;
  border: #333 1px solid;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}

.search-params button:hover {
  background-color: #122622;
}

.search-params button:active {
  background-color: #5f1d22;
}

.search-params button:focus {
  border: 1px solid cornflowerblue;
}

.brewery {
  width: 100%;
  height: auto;
  display: block;
  overflow: hidden;
  margin: 10px 0;
  padding: 10px;
  border-bottom: #333 2px solid;
}

p {
  margin: 0;
  padding: 0;
}


.result {
  border-radius: 6px;
  background: #faeff0;
  box-shadow: 0px 0px 12px #aaa, -0px -0px 12px #fff;
  max-width: 715px;
  min-width: 515px;
  width: 90%;
  padding: 15px;
  float: left;
  margin-bottom: 25px;
}

@media only screen and (max-width: 1129px) {
  .search-params {
    width: 95%;
  }

  .search-params form {
    margin-bottom: 20px;
  }

  .result {
    width: 55%;
    padding: 15px;
    border-radius: 9px;
    float: left;
    margin-bottom: 25px;
  }
}

@media only screen and (max-width: 945px) {
  .search-params {
    width: 95%;
  }

  .result {
    width: 100%;
  }
}
